@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;700&display=swap');


.color-1 {background-color: #006466;}
.color-2 {background-color: #144552;}
.color-3 {background-color: #272640;}
.color-4 {background-color: #312244;}
.color-5 {background-color: #4d194d;}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;

    color: rgb(220, 220, 220);
    animation: ease-in;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(45deg, #10002b , #312244);
    box-shadow: inset 10px 0px 30px 0px rgba(0,0,0,0.75);
    z-index: -1;
}

.btn {
    background-color: #312244;
    border-radius: 5px;
    padding: .5rem 3rem;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}


/* ---------------HERO------------- */

.hero_back {
    height: 1000px;
    background-image: linear-gradient(45deg, #312244 , #312244), url(https://cdna.artstation.com/p/assets/images/images/005/365/664/large/yun-xi-zheng-bluecloudmountain.jpg?1490537025);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    z-index: 1;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
    letter-spacing:3px;
}

.hero_back p {
    font-size: 1.1rem;
}

.presenting {
    margin: 15rem 0;
    text-align: center;
}

.presenting h1 {
    font-size: 3rem;
}


/* ---------------NAVBAR------------- */

.logo {
    /* font-family: 'Monoton', cursive; */
    display: flex;
    align-items: center;

    cursor: pointer;
    font-size: 1.5rem;
    transition: 500ms;
}


.logo:hover, .link:hover {
    transition: 500ms;
    color: #3e1f47;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    letter-spacing: 5px;
    padding: 1rem 10% 0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 0 1rem;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    transition: 500ms;
}

.link:hover {
    text-decoration: none;
}


/* ---------------MAIN------------- */

main {
    padding: 4rem 10% 6rem 10%;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;    
    justify-items: center
}

.work-title {
    padding-bottom: 3rem;
    grid-column: span 2;
    letter-spacing:3px;
	text-align: center;
}

.work-title h2 {
    font-size: 1.1rem;
    padding: 1rem;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 600px;
    padding: 1rem;
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);

    letter-spacing: 3px;
    text-align: center;
    align-items: stretch;

    transition: 500ms;
    transform: scale(1);
}

.card:hover {
    transition: 500ms;
    transform: scale(1.05);
    box-shadow: 50px 50px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1rem;
}

.card p {
    font-size: .8rem;
}

.card a {
    font-size: 1rem;
    border-top: 3px solid #3e1f47;
    padding-top: 1rem;
}

.card p, .card h2, .card a {
    color: #1a1a1a;
}

.card img {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


/* ---------------ABOUT------------- */

.about {
    width: 100%;
    background-color: #312244;
    box-shadow: inset 0px 1px 10px 0px rgba(0,0,0,0.75);

    text-align: center;
    padding: 10rem 0;
}

.about h2, .about p {
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

.about h2 {
    font-size: 2rem;
}

.about p {
    font-size: 1.2rem;
}


/* ---------------SOCIAL------------ */

/* .social-div, */ .social {
    display: flex;
    /* flex-direction: column; */
}

.social-div {
    padding-bottom: 2rem;
    border-bottom: 3px solid #1a1a1a;
    display: flex;
    flex-direction: column;
}

.social a {
    padding: 1rem;
    letter-spacing: 3px;
}


/* ---------------CONTACT------------- */

.contact {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: stretch;
    justify-content: center;

    letter-spacing: 3px;

    padding: 2rem 30%;
    margin: 3rem 0 0 5%;
    border-radius: 1rem 0px 0px 1rem;
    background-color: #e0e0e0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.contact h2, .contact header, label, .form-contact h3, .form-group p {
    color: #312244;
}

.contact h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.contact p {
    font-size: .8rem;
    padding: 1rem 0;
}

label {
    display: flex;
}


/* ---------------CONTACT FORM------------- */

.form-contact {
    margin-top: 3rem;
    flex-flow: row wrap;

}

.form-group textarea {
    height: 100%;
    resize: vertical;
    min-height: 150px;
}


.input {
    font-size: .8rem;
    color: #1a1a1a;

    width: 100%;
    padding: .5rem 1rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    border: 1px solid #1a1a1a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.form-label {
    display: block;
    padding: 1rem 0 .2rem;
}


/* ---------------FOOTER------------- */

footer {
    padding: 1rem 10%;
}



/* ---------------SCROLL------------- */

#section10 a {
    display: block;
    text-align-last: center;

}
#section10 a span {
    position: absolute;
    top: 750px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 10px;
    }
    .contact {
        padding: 2rem 5%;
    }
    .navbar {
        padding: 1rem 5% 0;
    }
}